@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lobster|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
/*===============================*/
/*預設*/
html {
  scroll-behavior: smooth;
  /*錨點滑動*/
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.4;
  font-family: "Montserrat", "Roboto", sans-serif;
  background-color: #ebeae9;
  color: #232323;
  width: 100%;
  height: 100%;
  min-width: 530px;
}

.subtitle {
  margin: 30px 0;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
}

/*==========nav==========*/
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0;
  font-size: 1.25rem;
  line-height: initial;
  white-space: nowrap;
}

.navbar-brand img {
  vertical-align: baseline;
  border-style: none;
}

.navbar-nav .nav-link {
  padding-left: 14.4px;
  color: #232323;
  font-size: 19.2px;
  font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #232323;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 32px;
    padding-left: 32px;
  }
}

/*==========header==========*/
header .top-title {
  z-index: 2;
}

header .top-title h1 {
  font-weight: 800;
  color: #fafafa;
  top: 0px;
  left: 0px;
  letter-spacing: 5px;
  font-style: italic;
  text-shadow: 0 3px 5px rgba(35, 35, 35, 0.5);
  font-size: 48px;
}

@media (max-width: 800px) {
  header .top-title h1 {
    font-size: 32px;
    letter-spacing: 3px;
  }
}

@media (max-width: 600px) {
  header .top-title h1 {
    font-size: 24px;
    letter-spacing: 1px;
  }
}

header .carousel-caption {
  right: 300px;
  bottom: 50px;
  left: 0;
}

header .carousel-caption .font-title {
  font-weight: 800;
  color: #fafafa;
  font-style: italic;
  text-shadow: 0 3px 5px rgba(35, 35, 35, 0.5);
  letter-spacing: 5px;
  font-size: 48px;
}

@media (max-width: 800px) {
  header .carousel-caption .font-title {
    font-size: 24px;
    letter-spacing: 0px;
  }
}

@media (max-width: 600px) {
  header .carousel-caption .font-title {
    font-size: 16px;
    letter-spacing: 0px;
  }
}

header .arrow {
  color: #232323;
  position: absolute;
  right: 25px;
  bottom: 50px;
  font-size: 48px;
  display: inline-block;
}

@media (max-width: 600px) {
  header .arrow {
    font-size: 32px;
  }
}

header .inset {
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(10px 20px 30px 10px round 400px 50px 400px 0);
          clip-path: inset(10px 20px 30px 10px round 400px 50px 400px 0);
}

/*==========about==========*/
.About .resume-png {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-60%, -50%) rotate(-45deg);
          transform: translate(-60%, -50%) rotate(-45deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.About .icon-cross {
  font-size: 24px;
}

.About .about-bg {
  width: 100%;
  height: 100%;
  background: #e9e2d0;
  -webkit-box-shadow: 0 3px 5px rgba(35, 35, 35, 0.5);
          box-shadow: 0 3px 5px rgba(35, 35, 35, 0.5);
}

.About .about-card {
  width: 400px;
  background: #262626;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.About .about-card:hover ul {
  height: 50px;
}

.About .about-card:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.About .about-card .imgBx {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.About .about-card .imgBx img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  -webkit-transition: 5s;
  transition: 5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.About .about-card a {
  line-height: 50px;
  background-color: #fafafa;
  color: #232323;
  font-size: 32px;
}

.About .about-card a:hover {
  background-color: #232323;
  color: #fafafa;
}

.About .about-card ul {
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.About .about-card li {
  list-style: none;
  width: 25%;
  height: 50px;
}

/*==========skill==========*/
.Skill .carousel-item {
  height: 400px;
  overflow: hidden;
}

.Skill .carousel-caption {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #232323;
  text-align: center;
}

@media (max-width: 600px) {
  .Skill .carousel-caption {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.Skill .carousel-caption ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.Skill .carousel-caption li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.Skill .carousel-caption li:hover {
  -webkit-box-shadow: 0 3px 5px rgba(35, 35, 35, 0.5);
          box-shadow: 0 3px 5px rgba(35, 35, 35, 0.5);
  background-color: white;
}

.Skill .carousel-caption .icon-github {
  color: #000;
}

.Skill .carousel-caption i {
  font-size: 48px;
}

@media (max-width: 600px) {
  .Skill .carousel-caption i {
    font-size: 32px;
  }
}

/*==========Project==========*/
.Portfolio .project-bg-img {
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.Portfolio .project-card {
  position: relative;
  width: 500px;
  height: 338px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 5px rgba(35, 35, 35, 0.5);
          box-shadow: 0 3px 5px rgba(35, 35, 35, 0.5);
}

.Portfolio .project-card:hover .poster::before {
  bottom: 0;
}

.Portfolio .project-card:hover .poster img {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.Portfolio .project-card:hover .details {
  bottom: 0;
}

.Portfolio .project-card:hover .info {
  bottom: 0;
}

.Portfolio .project-card .poster {
  position: relative;
  overflow: hidden;
}

.Portfolio .project-card .poster::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -85%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#232323));
  background: linear-gradient(0deg, #232323);
  z-index: 1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.Portfolio .project-card .poster img {
  width: 100%;
  display: block;
  bottom: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Portfolio .project-card .details {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: -250px;
  left: 0;
  overflow: hidden;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  padding: 10px;
  z-index: 2;
}

.Portfolio .project-card .details h4 {
  color: #fafafa;
  font-size: 24px;
}

.Portfolio .project-card .details h4 a {
  text-decoration: none;
}

.Portfolio .project-card .details h4 .icon-github {
  color: #fafafa;
  font-size: 24px;
}

.Portfolio .project-card .details h4 .icon-github:hover {
  color: #4285f4;
}

.Portfolio .project-card .info {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: -100%;
  left: 0;
  overflow: hidden;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  padding: 10px;
  z-index: 1;
}

.Portfolio .project-card .info li {
  list-style: none;
  color: #fafafa;
  font-size: 19.2px;
}

.Portfolio .project-card .info li .icon-file-text2 {
  padding-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 19.2px;
}

/*==========footer==========*/
footer img {
  vertical-align: baseline;
  width: 40px;
  height: 40px;
}

@media (max-width: 600px) {
  footer img {
    width: 30px;
    height: 30px;
  }
}

footer h3,
footer h5 {
  color: #fafafa;
}

footer .icon-cross {
  font-size: 24px;
}

@media (max-width: 600px) {
  footer .icon-cross {
    font-size: 16px;
  }
}

footer a {
  padding: 0 10px;
  line-height: 50px;
  background-color: #fafafa;
  color: #232323;
  font-size: 32px;
  border-radius: 50%;
}

footer a:hover {
  background-color: #232323;
  color: #fafafa;
}

@media (max-width: 600px) {
  footer a {
    font-size: 16px;
    padding: 0 5px;
    line-height: 40px;
  }
}

footer ul {
  width: 100%;
  height: 100%;
  padding-left: 0px;
}

footer li {
  margin-left: 10px;
  list-style: none;
  height: 50px;
}

@media (max-width: 600px) {
  footer li {
    margin-left: 5px;
    height: 40px;
  }
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 9999;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../image/loading.gif");
}
/*# sourceMappingURL=style.css.map */