body {
  background-image: url("../../image/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 18px;
  position: relative;
  color: #000;
}

.icon-bin,.icon-plus-square,.icon-minus-square {
  font-size: 1.4rem;
}


